.Rproj.user
.Rhistory
.RData
.Ruserdata
analysis/code/models/m_dist_coast
analysis/code/models/m_station_type
analysis/code/models/m_station_type_dist_coast
analysis/code/models/m_date
analysis/code/models/m_date_temp
analysis/code/models/m_temp
analysis/code/models/m_date_station_type
analysis/code/models/m_dist_coast_date_station_type
analysis/code/Carlén et al. 2018
analysis/data
analysis/results
aspot
documents
monte_carlo